<!-- Deplasare -->
<div class="nav-container">
  <div class="nav-logo">John Holdings</div>
  <div class="nav-menu">
    <a  class="nav-menu-link" routerLink="/"><i class="fa-solid fa-house" style="color: #ffffff;"></i> HOME</a>
    <a  class="nav-menu-link" routerLink="/booking"><i class="fa-solid fa-bookmark" style="color: #ffffff;"></i> BOOKING</a>
    <a  class="nav-menu-link" routerLink="/about"><i class="fa-solid fa-question" style="color: #ffffff;"></i> ABOUT</a>
    <a  class="nav-menu-link" routerLink="/gallery"><i class="fa-solid fa-images" style="color: #ffffff;"></i> GALLERY</a>
  </div>
  <div class="nav-login">
    <a class="nav-menu-link" routerLink="/login" ><i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i> LOG IN</a>
  </div>
</div>





<router-outlet></router-outlet>



<!-- Footer -->

<footer>
  <div class="container3">
    <div class="footer-content">
      <div class="footer-section about">
        <div class="nav-logo">John Holdings</div>
        <p>------- Where Your Comfort Finds a Home! -------</p>
      </div>
      <div class="footer-section links">
        <h2>Links</h2>
        <ul>
          <li><a class="nav-menu-link" routerLink="/" >HOME</a></li>
          <li><a class="nav-menu-link" routerLink="/booking">BOOKING</a></li>
          <li><a class="nav-menu-link" routerLink="/about">ABOUT</a></li>
          <li><a class="nav-menu-link" routerLink="/gallery">GALLERY</a></li>
        </ul>
      </div>
      <div class="footer-section contact">
        <h2>Contact us</h2>
        <p>Email: ion-cu-radubookingwebsite.com</p>
        <p>Phone: +373 67 160726 (nr lui Ion, sunatil)</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2023 Booking Website. All rights reserved.</p>
    </div>
  </div>
</footer>
