
<section class="container1">

  <div class="slogan-container" >
    <h1 id="title-text">Welcome to John Holdings <br> Where Your Comfort Finds a Home!</h1>
    <p id="slogan-text">At John Holdings, we believe in turning your travel dreams into reality.<br>
      Immerse yourself in a world of luxury and hospitality as you explore our exquisite collection<br>
      of rooms tailored to meet your every need.</p>
  </div>
  <div class="btn-container">
    <button id="btn-book">BOOK</button>
    <button id="btn-learn">LEARN MORE</button>
  </div>
</section>




<!-- Informatie pentru frumusete -->
<section class="container2">
  <div class="header-container">
    <p class="header-container-keyword">OUR HOTEL</p>
    <h1 class="header-container-h1">Unparalleled Comfort and Elegance</h1>
    <p class="header-container-p">Discover a world where comfort meets elegance in our thoughtfully designed rooms. Immerse yourself in an atmosphere <br>  of tranquility and enjoy panoramic views that capture the essence of Chisinau.</p>
  </div>
  <div class="info-content">
    <!-- post1 -->
    <div class="info-block">
      <div class="info-block-img" id="image1"></div>
      <h2 class="info-block-h2">Discover Absolute Comfort at Our Hotel!</h2>
      <p class="info-block-p">Enjoy a unique accommodation experience at our hotel, where comfort and impeccable services come together to provide you with a memorable stay.</p>
    </div>
    <!-- post2 -->
    <div class="info-block">
      <div class="info-block-img" id="image2"></div>
      <h2 class="info-block-h2">Refined Gastronomy: Exquisite Dining at Our Restaurant</h2>
      <p class="info-block-p">Delight your senses with a culinary journey at our top-notch restaurant. Enjoy fine dishes, authentic flavors, and an elegant atmosphere where every meal becomes an unforgettable experience.</p>
    </div>
    <!-- post3 -->
    <div class="info-block">
      <div class="info-block-img" id="image3"></div>
      <h2 class="info-block-h2">Luxury Indulgence: Elegant Rooms and Panoramic Views</h2>
      <p class="info-block-p">Step into the refined world of our luxury room, where modern design seamlessly blends with comfort. The panoramic view adds a touch of magic to every day spent at our hotel.</p>
    </div>
  </div>
</section>
