<section class="booking-container">
  <div class="booking-title">
    <h1 id="book-title">Together we will choose a pleasant accommodation for you</h1>
  </div>
  <div class="rooms-container">

   <!-- room-block -->
  <div class="room-block">
    <div class="room-img"></div>
    <div class="room-info">
      <h1>No. {{ roomNumber }}</h1>
      <h2>Room Type: {{ roomType }}</h2>
      <p>liber: {{ availability ? 'Da' : 'Nu' }}</p>
      <p>${{ price }}</p>
      <button>Rezerva</button>
    </div>
  </div>


  </div>


</section>
